name: "test with repository"
on:
  workflow_dispatch:

# NOTE:
# This workflow is for looking at the diff and PR description,
# and eventually push fails, so don't do that.

env:
  GIT_AUTHOR_NAME: mackerelbot
  GIT_AUTHOR_EMAIL: mackerelbot@users.noreply.github.com
  GIT_COMMITTER_NAME: mackerelbot
  GIT_COMMITTER_EMAIL: mackerelbot@users.noreply.github.com

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: mackerelio/mkr
          path: var/mkr
          fetch-depth: 0

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24.x
      - run: |
          npm ci
      - run: |
          npm run all
        env:
          INPUT_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./
        id: start
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          next_version: 1.0.0
          package_name: mkr
          debug_clone_directory_path: var/mkr
          debug_github_repository: mackerelio/mkr

      - name: steps.start.outputs
        run: |
          echo currentVersion
          echo ${{ steps.start.outputs.currentVersion }}
          echo nextVersion
          echo ${{ steps.start.outputs.nextVersion }}
          echo branchName
          echo ${{ steps.start.outputs.branchName }}

      - run: |
          mv packaging/mkr_${{ steps.start.outputs.currentVersion }}.orig.tar.gz packaging/mkr_${{ steps.start.outputs.nextVersion }}.orig.tar.gz
        working-directory: var/mkr

      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          finished: "true"
          package_name: mkr
          debug_clone_directory_path: var/mkr
          debug_github_repository: mackerelio/mkr
          next_version: ${{ steps.start.outputs.nextVersion }}
          branch_name: ${{ steps.start.outputs.branchName }}
          pull_request_infos: ${{ steps.start.outputs.pullRequestInfos }}
        env:
          RUNNER_DEBUG: 1
